@model Hoist.Models.Ticket

@using Hoist.Models.Enums;
@using Hoist.Services
@using Hoist.Services.Interfaces;
@using Microsoft.AspNetCore.Identity;
@inject IBTFileService _BTFileService
@inject IBTFileService _FileService
@inject UserManager<BTUser> _UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

@{
    int statusId = Model.TicketStatusId;
    int priorityId = Model.TicketPriorityId;
    string userId = _UserManager.GetUserId(User);

    bool isAdmin = User.IsInRole("Admin");
    bool isProjectManager = (User.IsInRole(nameof(BTRoles.ProjectManager)) && Model.Project.Members.Any(m => m.Id == userId));
    bool isSubmitter = Model.SubmitterUserId == userId;
    bool isDeveloper = Model.DeveloperUserId == userId;
}

@section styles{
    <link href="~/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
}

<!doctype html>
<html lang="en" data-layout="vertical" data-layout-style="detached" data-sidebar="light" data-topbar="dark" data-sidebar-size="lg">
<head>
    @Html.Partial("~/Views/Shared/_title_meta.cshtml")

    @Html.Partial("~/Views/Shared/_head_css.cshtml")
</head>
<body>
    <!-- Begin page -->
    <div id="layout-wrapper">
        @Html.Partial("~/Views/Shared/_menu.cshtml")

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card mt-n4 mx-n4 mb-n5">
                                <div class="bg-soft-info">
                                    <div class="card-body pb-4 mb-5">
                                        <div class="row">
                                            <div class="col-md">
                                                <div class="row align-items-center">
                                                    <div class="col-md-auto">
                                                        <div class="avatar-md mb-md-0 mb-4">
                                                            <div class="avatar-title bg-white rounded-circle">
                                                                <img src="~/assets/images/companies/img-4.png" alt="" class="avatar-sm" />
                                                            </div>
                                                        </div>
                                                    </div><!--end col-->
                                                    <div class="col-md">
                                                        <h4 class="fw-bold">@Model.Title</h4>
                                                        <div class="hstack gap-3 flex-wrap">
                                                            <div class="text-muted"><i class="ri-building-line align-bottom me-1"></i>@Model.Project.Name</div>
                                                            <div class="vr"></div>
                                                            <div class="text-muted">Create Date : <span class="fw-semibold">@Model.Created.ToString("dd MMM, yyyy")</span></div>
                                                            <div class="vr"></div>
                                                            @if (Model.Updated != null)
                                                            {
                                                                <div class="text-muted">Last Updated : <span class="fw-semibold">@Model.Updated.Value.ToString("dd MMM, yyyy")</span></div>
                                                            }
                                                            else
                                                            {
                                                                <div class="text-muted">Last Updated : <span class="fw-semibold">-/-/-</span></div>
                                                            }
                                                            <div class="vr"></div>

                                                            @switch (statusId)
                                                            {

                                                                case 2:
                                                                    <div class="badge badge-soft-info text-uppercase">@Model.TicketStatus.Name</div>
                                                                    break;

                                                                case 3:
                                                                    <div class="badge badge-soft-warning text-uppercase">@Model.TicketStatus.Name</div>
                                                                    break;

                                                                case 4:
                                                                    <div class="badge badge-soft-danger text-uppercase">@Model.TicketStatus.Name</div>
                                                                    break;

                                                                default:
                                                                    <div class="badge badge-soft-success text-uppercase">@Model.TicketStatus.Name</div>
                                                                    break;


                                                            }
                                                            @switch (priorityId)
                                                            {
                                                                case 2:
                                                                    <div class="badge bg-info text-uppercase" style=" --bs-border-color: var(--bs-info-border-subtle); color: var(--bs-info-text);">@Model.TicketPriority.Name</div>
                                                                    break;

                                                                case 3:
                                                                    <div class="badge bg-warning text-uppercase" style=" --bs-border-color: var(--bs-warning-border-subtle); color: var(--bs-warning-text);">@Model.TicketPriority.Name</div>
                                                                    break;

                                                                case 4:
                                                                    <div class="badge bg-danger text-uppercase">@Model.TicketPriority.Name</div>
                                                                    break;

                                                                default:
                                                                    <div class="badge bg-soft-dark  text-uppercase" style=" --bs-border-color: var(--bs-light-border-subtle); color: var(--bs-light-text);">@Model.TicketPriority.Name</div>
                                                                    break;
                                                            }
                                                        </div>
                                                    </div><!--end col-->
                                                </div><!--end row-->
                                            </div><!--end col-->
                                            <div class="col-md-auto mt-md-0 mt-4">
                                                <div class="hstack gap-1 flex-wrap">
                                                    <button type="button" class="btn avatar-xs mt-n1 p-0 favourite-btn active">
                                                        <span class="avatar-title bg-transparent fs-15">
                                                            <i class="ri-star-fill"></i>
                                                        </span>
                                                    </button>
                                                    <button type="button" class="btn py-0 fs-16 text-body" id="settingDropdown" data-bs-toggle="dropdown">
                                                        <i class="ri-share-line"></i>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="settingDropdown">
                                                        <li><a class="dropdown-item" href="#"><i class="ri-eye-fill align-bottom me-2 text-muted"></i> View</a></li>
                                                        <li><a class="dropdown-item" href="#"><i class="ri-share-forward-fill align-bottom me-2 text-muted"></i> Share with</a></li>
                                                        <li><a class="dropdown-item" href="#"><i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete</a></li>
                                                    </ul>
                                                    <button type="button" class="btn py-0 fs-16 text-body">
                                                        <i class="ri-flag-line"></i>
                                                    </button>
                                                </div>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!-- end card body -->
                                </div>
                            </div><!-- end card -->
                        </div><!-- end col -->
                    </div><!-- end row -->

                    <div class="row">
                        <div class="col-xxl-9">
                            <div class="card h-100 mb-3">
                                <div class="card-body p-4">
                                    <h6 class="fw-semibold text-uppercase mb-3">Details</h6>
                                    <div>@Html.Raw(Model.Description)</div>

                                </div><!--end card-body-->
                                @if (isAdmin || isProjectManager || isSubmitter || isDeveloper)
                                {
                                    <div class="card-body p-4">
                                        <hr />
                                        <h5 class="card-title mb-4">Comments</h5>

                                        <div data-simplebar style="height: 300px;" class="px-3 mx-n3">
                                            @foreach (TicketComment comment in Model.Comments)
                                            {
                                                <div class="d-flex mb-4">
                                                    <div class="flex-shrink-0">
                                                        <img src="~/assets/images/users/avatar-8.jpg" alt="" class="avatar-xs rounded-circle" />
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <h5 class="fs-14">@comment.BTUser!.FullName<small class="text-muted"> at @comment.Created</small></h5>
                                                        <p class="text-muted">@comment.Comment</p>
                                                        <a href="javascript: void(0);" class="badge text-muted bg-light"><i class="mdi mdi-reply"></i> Reply</a>

                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <form asp-action="AddTicketComment" method="post" class="mt-3">
                                            <input type="hidden" asp-for="Id" name="TicketId" />
                                            <div class="row g-3">
                                                <div class="col-lg-12">
                                                    <label for="exampleFormControlTextarea1" class="form-label">Leave a Comment</label>
                                                    <textarea class="form-control bg-light border-light" id="exampleFormControlTextarea1" rows="3" name="Comment" placeholder="Thoughts?"></textarea>
                                                </div>
                                                <div class="col-lg-12 text-end">
                                                    <input type="submit" value="Post Comment" class="btn btn-success"></input>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                }
                                else
                                {
                                    <div class="card-body p-4">
                                        <hr />
                                        <h5 class="card-title mb-4">Comments</h5>

                                        <div data-simplebar style="height: 500px;" class="px-3 mx-n3">
                                            @foreach (TicketComment comment in Model.Comments)
                                            {
                                                <div class="d-flex mb-4">
                                                    <div class="flex-shrink-0">
                                                        <img src="~/assets/images/users/avatar-8.jpg" alt="" class="avatar-xs rounded-circle" />
                                                    </div>
                                                    <div class="flex-grow-1 ms-3 ">
                                                        <h5 class="fs-14">@comment.BTUser!.FullName<small class="text-muted"> at @comment.Created</small></h5>
                                                        <p class="text-muted">@comment.Comment</p>
                                                        <hr class="w-50"/>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }

                                <!-- end card body -->
                            </div><!--end card-->
                        </div><!--end col-->
                        <div class="col-xxl-3">
                            <div class="card container">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Ticket Details</h5>
                                </div>
                                <div class="card-body" id="tickDetailsBody">
                                    <div class="table-responsive table-card">
                                        <table class="table table-borderless align-middle mb-0">
                                            <tbody>
                                                <tr>
                                                    <td class="fw-semibold">Ticket</td>
                                                    <td>@Model.Title</td>
                                                </tr>

                                                <tr>
                                                    <td class="fw-semibold">Project</td>
                                                    <td>@Model.Project.Name</td>
                                                </tr>
                                                <tr>
                                                    <td class="fw-semibold">Assigned To:</td>
                                                    <td>
                                                        <div class="avatar-group">
                                                            <a href="javascript:void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" data-bs-original-title="@Model.DeveloperUser.FullName">
                                                                <img src="@_FileService.ConvertByteArrayToFile(Model.DeveloperUser.ImageFileData, Model.DeveloperUser.ImageFileType, (int)DefaultImage.BTUserImage)" alt="" class="rounded-circle avatar-xs" />
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="fw-semibold">Status:</td>
                                                    @switch (statusId)
                                                    {

                                                        case 2:
                                                            <td data-order="@Model.TicketStatusId"><span class="badge badge-soft-info text-uppercase">@Model.TicketStatus.Name</span></td>
                                                            break;

                                                        case 3:
                                                            <td data-order="@Model.TicketStatusId"><span class="badge badge-soft-warning text-uppercase">@Model.TicketStatus.Name</span></td>
                                                            break;

                                                        case 4:
                                                            <td data-order="@Model.TicketStatusId"><span class="badge badge-soft-danger text-uppercase">@Model.TicketStatus.Name</span></td>
                                                            break;

                                                        default:
                                                            <td data-order="@Model.TicketStatusId"><span class="badge badge-soft-success text-uppercase">@Model.TicketStatus.Name</span></td>
                                                            break;


                                                    }
                                                </tr>
                                                <tr>
                                                    <td class="fw-semibold">Priority</td>
                                                    @switch (priorityId)
                                                    {
                                                        case 2:
                                                            <td data-order="@Model.TicketPriorityId"><span class="badge bg-info text-uppercase" style=" --bs-border-color: var(--bs-info-border-subtle); color: var(--bs-info-text);">@Model.TicketPriority.Name</span></td>
                                                            break;

                                                        case 3:
                                                            <td data-order="@Model.TicketPriorityId">
                                                                <span class="badge bg-warning text-uppercase" style=" --bs-border-color: var(--bs-warning-border-subtle); color: var(--bs-warning-text);">@Model.TicketPriority.Name</span>

                                                            </td>
                                                            break;

                                                        case 4:
                                                            <td data-order="@Model.TicketPriorityId">
                                                                <span class="badge bg-danger text-uppercase">@Model.TicketPriority.Name</span>

                                                            </td>
                                                            break;

                                                        default:
                                                            <td data-order="@Model.TicketPriorityId">
                                                                <span class="badge bg-soft-dark  text-uppercase" style=" --bs-border-color: var(--bs-light-border-subtle); color: var(--bs-light-text);">@Model.TicketPriority.Name</span>

                                                            </td>
                                                            break;
                                                    }
                                                </tr>
                                                <tr>
                                                    <td class="fw-semibold">Create Date</td>
                                                    <td>@Model.Created.ToString("dd MMM, yyyy")</td>
                                                </tr>
                                                <tr>
                                                    <td class="fw-semibold">Last Updated</td>
                                                    @if (Model.Updated != null)
                                                    {
                                                        <td>@Model.Updated.Value.ToString("dd MMM, yyyy")</td>
                                                    }
                                                    else
                                                    {
                                                        <td>-/-/-</td>
                                                    }

                                                </tr>
                                                @* <tr>
                                                <td class="fw-semibold">Last Activity</td>
                                                <td>14 min ago</td>
                                                </tr>*@

                                            </tbody>
                                        </table>
                                    </div>
                                </div><!--end card-body-->
                            </div><!--end card-->
                            <div class="card mb-0">
                                <div class="card-header">
                                    <h6 class="card-title fw-semibold mb-0">Attachments</h6>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-center border border-dashed p-2 rounded">
                                        <form asp-action="AddTicketAttachment" asp-controller="Tickets" enctype="multipart/form-data" method="post">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="Id" name="TicketId">
                                            <div class="w-100">

                                                <label>
                                                    Description
                                                    <input asp-for="@Model.Attachments.FirstOrDefault().Description" type="text" class="form-control w-100" />
                                                </label><br />

                                                <label class="btn btn-outline-primary btn-sm">
                                                    <input asp-for="@Model.Attachments.FirstOrDefault().FormFile" type="file" class="form-control-file w-100" />
                                                </label>

                                                <button type="submit" class="btn btn-outline-secondary btn-sm md-btn-flat">Attach</button>
                                            </div>
                                        </form>
                                    </div>

                                    @foreach (TicketAttachment attachment in Model.Attachments)
                                    {
                                        <div class="d-flex align-items-center border border-dashed p-2 rounded">
                                            <div class="flex-shrink-0 avatar-sm">
                                                <div class="avatar-title bg-light rounded">
                                                    <img src="@_BTFileService.GetFileIcon(attachment.FileName)" style="height:50px;width:50px" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="@attachment.FileName" />
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6 class="mb-1"><a href="javascript:void(0);">@attachment.FileName</a></h6>
                                                <small class="text-muted">3.2 MB</small>
                                            </div>
                                            <div class="hstack gap-3 fs-16">
                                                <a asp-action="ShowFile" asp-controller="Tickets" asp-route-Id="@attachment.Id" class="text-muted"><i class="ri-download-2-line"></i></a>
                                                @*<a href="javascript:void(0);" class="text-muted"><i class="ri-delete-bin-line"></i></a>*@
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div><!--end col-->
                        <!--TIMELINE-->

                        <div class="col-lg-12 mt-3">
                            <div>
                                <h5>Ticket Timeline</h5>
                                <div class="horizontal-timeline my-3">
                                    <div class="swiper timelineSlider">
                                        <div class="swiper-wrapper">

                                            @foreach (TicketHistory history in Model.History.OrderByDescending(h => h.Created))
                                            {
                                                <div class="swiper-slide">
                                                    <div class="card pt-2 border-0 item-box text-center">
                                                        <div class="timeline-content p-3 rounded">
                                                            <div>
                                                                <p class="text-muted fw-medium mb-0">@history.Created.ToShortDateString()</p>
                                                                <h6 class="mb-0">@Html.Raw(history.Description)</h6>
                                                            </div>
                                                        </div>
                                                        <div class="time"><span class="badge bg-success">@history.Created.ToShortTimeString()</span></div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                    </div><!--end timeline-->
                                </div>
                            </div><!--end col-->

                        </div><!--end row-->

                    </div>
                </div>
                @Html.Partial("~/Views/Shared/_footer.cshtml")
            </div>

        </div>


        @Html.Partial("~/Views/Shared/_vendor_scripts.cshtml")

        <!-- ticketdetail init js -->
        <script src="~/assets/js/pages/ticketdetail.init.js"></script>

        <!-- App js -->
        <script src="~/assets/js/app.js"></script>


</body>
</html>

@section scripts{
    <script src="~/assets/libs/swiper/swiper-bundle.min.js"></script>

    <script src="~/assets/js/pages/timeline.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}

@*<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Archived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Archived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArchivedByProject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArchivedByProject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketStatus.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPriority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketPriority.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeveloperUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeveloperUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmitterUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmitterUser.Id)
        </dd>
    </dl>

</div>
@foreach (TicketComment ticketComment in Model.Comments)
{
    <div>
        @ticketComment.Comment
    </div>
}
<div>
<form  asp-action="AddTicketComment" method="post">
    <input type="hidden" asp-for="Id" name="TicketId">
    <textarea name="Comment"></textarea>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>

</form>
</div>
<div class="row clearfix">
    <div>
        <form asp-action="AddTicketAttachment" asp-controller="Tickets" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" name="TicketId">
            <div class="media-body ml-3">
                <label>
                    Description
                    <input asp-for="@Model.Attachments.FirstOrDefault().Description" type="text" class="form-control" />
                </label><br />
                <label class="btn btn-outline-primary btn-sm">
                    <input asp-for="@Model.Attachments.FirstOrDefault().FormFile" type="file" class="form-control-file" />
                </label>
                <button type="submit" class="btn btn-outline-secondary btn-sm md-btn-flat">Submit</button>
            </div>
        </form>
    </div>
</div>


<hr />
<h6>Attachments</h6>
<div class="container">
    <div class="row">
        @foreach (TicketAttachment item in Model.Attachments)
        {
            <div class="col col-sm-2">
                <a asp-action="ShowFile" asp-controller="Tickets" asp-route-Id="@item.Id">
                    <div class="icon">
                        <img src="@_BTFileService.GetFileIcon(item.FileName)" style="height:50px;width:50px" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="@item.FileName" />
                    </div>
                </a>
                <div style="font-size:x-small">
                    <div class="file-name">
                        <strong>@item.Description</strong>
                    </div>
                    <small>Size: @_BTFileService.FormatFileSize(item.FileData.Length) </small>
                </div>
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
