@model Hoist.Models.Project
@using Hoist.Models.Enums;
@using Hoist.Services.Interfaces
@using Microsoft.AspNetCore.Identity;


@inject IBTProjectService _btProjectService
@inject IBTRolesService _RolesService
@inject IBTFileService _FileService
@inject UserManager<BTUser> _UserManager

@{
    ViewBag.Title = "Project Overview";
    Layout = "_LayoutDashboard";
}

@{

    string? userId = _UserManager.GetUserId(User);

    bool isAdmin = User.IsInRole("Admin");
    bool isProjectManager = (User.IsInRole(nameof(BTRoles.ProjectManager)) && Model.Members.Any(m => m.Id == userId));

    bool? pmFound = null;
    bool? devFound = null;
    bool? subFound = null;
}





<!-- Begin page -->
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->



<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <div class="card mt-n4 mx-n4">
                <div class="bg-soft-info">
                    <div class="card-body pb-0 px-4">
                        <div class="row mb-3">
                            <div class="col-md">
                                <div class="row align-items-center g-3">
                                    <div class="col-md-auto">
                                        <div class="avatar-md">
                                            <div class="avatar-title bg-white rounded-circle">
                                                <img src="~/assets/images/brands/slack.png" alt="" class="avatar-xs">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div>
                                            <h4 class="fw-bold">@Model.Name</h4>
                                            <div class="hstack gap-3 flex-wrap">
                                                <div>Start Date : <span class="fw-semibold">@Model.StartDate.ToString("dd MMM, yyyy")</span></div>
                                                <div class="vr"></div>
                                                <div>Deadline : <span class="fw-semibold">@Model.EndDate.ToString("dd MMM, yyyy")</span></div>
                                                <div class="vr"></div>
                                                <!--TODO: Add SwitchCase here-->
                                                @switch (Model.ProjectPriorityId)
                                                {
                                                    case 2:
                                                        <div class="badge bg-info text-uppercase" style=" --bs-border-color: var(--bs-info-border-subtle); color: var(--bs-info-text);">@Model.ProjectPriority.Name</div>
                                                        break;

                                                    case 3:

                                                        <div class="badge bg-warning text-uppercase" style=" --bs-border-color: var(--bs-warning-border-subtle); color: var(--bs-warning-text);">@Model.ProjectPriority.Name</div>


                                                        break;

                                                    case 4:

                                                        <div class="badge bg-danger text-uppercase">@Model.ProjectPriority.Name</div>


                                                        break;

                                                    default:

                                                        <div class="badge bg-soft-dark  text-uppercase" style=" --bs-border-color: var(--bs-light-border-subtle); color: var(--bs-light-text);">@Model.ProjectPriority.Name</div>


                                                        break;
                                                }
                                                @*<div class="badge rounded-pill bg-danger fs-12">@Model.ProjectPriority.Name</div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-auto">
                            <div class="hstack gap-1 flex-wrap">
                            <button type="button" class="btn py-0 fs-16 favourite-btn active">
                            <i class="ri-star-fill"></i>
                            </button>
                            <button type="button" class="btn py-0 fs-16 text-body">
                            <i class="ri-share-line"></i>
                            </button>
                            <button type="button" class="btn py-0 fs-16 text-body">
                            <i class="ri-flag-line"></i>
                            </button>
                            </div>
                            </div>*@
                        </div>
                        @*
                        <ul class="nav nav-tabs-custom border-bottom-0" role="tablist">
                        <li class="nav-item">
                        <a class="nav-link active fw-semibold" data-bs-toggle="tab" href="#project-overview"
                        role="tab">
                        Overview
                        </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link fw-semibold" data-bs-toggle="tab" href="#project-documents"
                        role="tab">
                        Documents
                        </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link fw-semibold" data-bs-toggle="tab" href="#project-activities"
                        role="tab">
                        Activities
                        </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link fw-semibold" data-bs-toggle="tab" href="#project-team"
                        role="tab">
                        Team
                        </a>
                        </li>
                        </ul>*@
                    </div>
                    <!-- end card body -->
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content text-muted">
                <div class="tab-pane fade show active" id="project-overview" role="tabpanel">
                    <div class="row">
                        <div class="col-xl-9 col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-muted">
                                        <h6 class="mb-3 fw-semibold text-uppercase">Summary</h6>
                                        @Html.Raw(Model.Description)

                                        @* <div>
                                        <button type="button" class="btn btn-link link-success p-0">Read more</button>
                                        </div>
                                        *@
                                        <div class="pt-3 border-top border-top-dashed mt-4">
                                            <div class="row">

                                                <div class="col-lg-3 col-sm-6">
                                                    <div>
                                                        <p class="mb-2 text-uppercase fw-semibold fs-13">Start Date :</p>
                                                        <h5 class="fs-15 mb-0">@Model.StartDate.ToString("dd MMM, yyyy")</h5>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-6">
                                                    <div>
                                                        <p class="mb-2 text-uppercase fw-semibold fs-13">Deadline :</p>
                                                        <h5 class="fs-15 mb-0">@Model.EndDate.ToString("dd MMM, yyyy")</h5>
                                                    </div>
                                                </div>
                                                <!--TODO: Add switch case for project priority here too-->
                                                <div class="col-lg-2 col-sm-6">
                                                    <div>
                                                        <p class="mb-2 text-uppercase fw-semibold fs-13">Priority :</p>

                                                        @switch (Model.ProjectPriorityId)
                                                        {
                                                            case 2:
                                                                <div class="badge bg-info text-uppercase" style=" --bs-border-color: var(--bs-info-border-subtle); color: var(--bs-info-text);">@Model.ProjectPriority.Name</div>
                                                                break;

                                                            case 3:

                                                                <div class="badge bg-warning text-uppercase" style=" --bs-border-color: var(--bs-warning-border-subtle); color: var(--bs-warning-text);">@Model.ProjectPriority.Name</div>


                                                                break;

                                                            case 4:

                                                                <div class="badge bg-danger text-uppercase">@Model.ProjectPriority.Name</div>


                                                                break;

                                                            default:

                                                                <div class="badge bg-soft-dark  text-uppercase" style=" --bs-border-color: var(--bs-light-border-subtle); color: var(--bs-light-text);">@Model.ProjectPriority.Name</div>


                                                                break;
                                                        }

                                                    </div>

                                                </div>
                                                @foreach (BTUser member in Model.Members)
                                                {
                                                    if (await _RolesService.IsUserInRoleAsync(member, nameof(BTRoles.ProjectManager)))
                                                    {
                                                        <div class="col-lg-4 col-sm-6">
                                                            <div class="">
                                                                <p class="mb-2 text-uppercase fw-semibold fs-13">Project Manager :</p>
                                                                <div class="d-inline-flex align-items-center">
                                                                    <div class="avatar-xs flex-shrink-0 me-3">
                                                                        <img class="rounded-circle header-profile-user " src="@_FileService.ConvertByteArrayToFile(member.ImageFileData, member.ImageFileType, (int)DefaultImage.BTUserImage)" class="img-fluid rounded-circle me-2">
                                                                    </div>
                                                                    <div class="fs-15 mb-0 d-inline-flex"> @member.FullName </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                @*<div class="col-lg-3 col-sm-6">
                                                <div>
                                                <p class="mb-2 text-uppercase fw-semibold fs-13">Status :</p>
                                                <div class="badge bg-warning fs-12">Inprogess</div>
                                                </div>
                                                </div>*@
                                            </div>
                                        </div>

                                        <!-- This is where the tabs went.-->
                                    </div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->

                            <div class="card">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1">Tickets</h4>
                                    <div class="flex-shrink-0">
                                    </div>
                                </div><!-- end card header -->

                                <div class="card-body">

                                    <table id="alternative-pagination" class="table nowrap dt-responsive align-middle table-hover table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Submitter</th>
                                                <th>Assigned To</th>
                                                <th>Create Date</th>
                                                <th>Updated</th>
                                                <th>Status</th>
                                                <th>Priority</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (Ticket ticket in Model.Tickets)
                                            {
                                                int priorityId = ticket.TicketPriorityId;
                                                int statusId = ticket.TicketStatusId;
                                                bool isSubmitter = ticket.SubmitterUserId == userId;
                                                bool isDeveloper = ticket.DeveloperUserId == userId;


                                                <tr>
                                                    <td class="">@(ticket.Title.Length > 40 ? ticket.Title.Substring(0, 40) + Html.Raw("...") : ticket.Title)</td>
                                                    <td>@ticket.SubmitterUser.FullName</td>
                                                    <td class="text-truncate">@(!string.IsNullOrEmpty(ticket.DeveloperUserId) ? ticket.DeveloperUser.FullName : "Not assigned")</td>
                                                    <td>@ticket.Created.ToLocalTime().ToShortDateString()</td>
                                                    <td>@(ticket.Updated != null ? ticket.Updated.Value.ToShortDateString() : " - / - / -")</td>
                                                    @switch (statusId)
                                                    {

                                                        case 2:
                                                            <td data-order="@ticket.TicketStatusId"><span class="badge badge-soft-info text-uppercase">@ticket.TicketStatus.Name</span></td>
                                                            break;

                                                        case 3:
                                                            <td data-order="@ticket.TicketStatusId"><span class="badge badge-soft-warning text-uppercase">@ticket.TicketStatus.Name</span></td>
                                                            break;

                                                        case 4:
                                                            <td data-order="@ticket.TicketStatusId"><span class="badge badge-soft-danger text-uppercase">@ticket.TicketStatus.Name</span></td>
                                                            break;

                                                        default:
                                                            <td data-order="@ticket.TicketStatusId"><span class="badge badge-soft-success text-uppercase">@ticket.TicketStatus.Name</span></td>
                                                            break;


                                                    }

                                                    @switch (priorityId)
                                                    {
                                                        case 2:
                                                            <td data-order="@ticket.TicketPriorityId"><span class="badge bg-info text-uppercase" style=" --bs-border-color: var(--bs-info-border-subtle); color: var(--bs-info-text);">@ticket.TicketPriority.Name</span></td>
                                                            break;

                                                        case 3:
                                                            <td data-order="@ticket.TicketPriorityId">
                                                                <span class="badge bg-warning text-uppercase" style=" --bs-border-color: var(--bs-warning-border-subtle); color: var(--bs-warning-text);">@ticket.TicketPriority.Name</span>

                                                            </td>
                                                            break;

                                                        case 4:
                                                            <td data-order="@ticket.TicketPriorityId">
                                                                <span class="badge bg-danger text-uppercase">@ticket.TicketPriority.Name</span>

                                                            </td>
                                                            break;

                                                        default:
                                                            <td data-order="@ticket.TicketPriorityId">
                                                                <span class="badge bg-soft-dark  text-uppercase" style=" --bs-border-color: var(--bs-light-border-subtle); color: var(--bs-light-text);">@ticket.TicketPriority.Name</span>

                                                            </td>
                                                            break;
                                                    }
                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown"
                                                                aria-expanded="false">
                                                                <i class="ri-more-fill align-middle"></i>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-end">
                                                                <li>
                                                                    <a class="dropdown-item" asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id">
                                                                        <i class="ri-eye-fill align-bottom me-2 text-muted"></i> View
                                                                    </a>
                                                                </li>
                                                                @if (isAdmin || isProjectManager || isSubmitter || isDeveloper)
                                                                {
                                                                    <li>
                                                                        <a class="dropdown-item edit-item-btn" asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id">
                                                                            <i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit
                                                                        </a>
                                                                    </li>
                                                                }
                                                                @if (isAdmin || isProjectManager)
                                                                {
                                                                    <li>
                                                                        <a class="dropdown-item remove-item-btn" asp-controller="Tickets" asp-action="Archive">
                                                                            <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Archive
                                                                        </a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                    <form class="mt-4">
                                        <div class="row g-3">
                                            <div class="col-12 text-end align-items-center">
                                                <a asp-controller="Tickets" asp-action="CreateTicketForProject" asp-route-id="@Model.Id" class="btn btn-success">Submit a Ticket</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- ene col -->
                        <div class="col-xl-3 col-lg-4">

                            <div class="card">
                                <div class="card-header align-items-center d-flex border-bottom-dashed">
                                    <h4 class="card-title mb-0 flex-grow-1">Members</h4>
                                    @*<div class="flex-shrink-0">
                                        <button type="button" class="btn btn-soft-success btn-sm" data-bs-toggle="modal" data-bs-target="#inviteMembersModal"><i class="ri-share-line me-1 align-bottom"></i> Invite Member</button>
                                    </div>*@
                                </div>

                                <div class="card-body">
                                    <div data-simplebar style="height: 235px;" class="mx-n3 px-3">
                                        <div class="vstack gap-3">

                                            @if (Model.Members.Count() == 0)
                                            {
                                                <p class="text-muted mb-0 me-2">None Assigned</p>
                                            }
                                            else
                                            {
                                                <div class="g-0 m-0 p-0">
                                                    <h5 class="card-title text-center fs-12 mb-0 flex-grow-1">Project Manager</h5>
                                                </div>
                                                <hr class="my-0" />
                                                @foreach (BTUser member in Model.Members)
                                                {
                                                    if (await _RolesService.IsUserInRoleAsync(member, nameof(BTRoles.ProjectManager)))
                                                    {
                                                        <div class="d-flex align-items-center">
                                                            <div class="avatar-xs flex-shrink-0 me-3">
                                                                <img class="rounded-circle header-profile-user " src="@_FileService.ConvertByteArrayToFile(member.ImageFileData, member.ImageFileType, (int)DefaultImage.BTUserImage)" class="img-fluid rounded-circle">
                                                            </div>
                                                            <div class="flex-grow-1">
                                                                <h5 class="fs-14 mb-0"><a href="#" class="text-body d-block">@member.FullName</a></h5>
                                                            </div>
                                                            @if (isAdmin)
                                                            {
                                                                <div class="flex-shrink-0">
                                                                    <div class="d-flex align-items-center gap-1">
                                                                        <button type="button" class="btn btn-soft-danger btn-sm">Remove</button>

                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>


                                                        pmFound = true;

                                                    }
                                                }

                                                @if (pmFound == null)
                                                {
                                                    <p class="text-muted fs-11 mb-0 me-2">None Assigned</p>
                                                }
                                                <hr class="p-0 m-0 g-0" />
                                                <div class="g-0 m-0 p-0">
                                                    <h5 class="card-title fs-12 text-center mb-0 flex-grow-1">Developers</h5>
                                                </div>
                                                <hr class="my-0" />
                                                @foreach (BTUser member in Model.Members)
                                                {
                                                    if (!await _RolesService.IsUserInRoleAsync(member, nameof(BTRoles.ProjectManager)) && (await _RolesService.IsUserInRoleAsync(member, nameof(BTRoles.Developer))) == true)
                                                    {
                                                        <div class="d-flex align-items-center">
                                                            <div class="avatar-xs flex-shrink-0 me-3">
                                                                <img class="rounded-circle header-profile-user " src="@_FileService.ConvertByteArrayToFile(member.ImageFileData, member.ImageFileType, (int)DefaultImage.BTUserImage)" class="img-fluid rounded-circle">
                                                            </div>
                                                            <div class="flex-grow-1">
                                                                <h5 class="fs-14 mb-0"><a href="#" class="text-body d-block">@member.FullName</a></h5>
                                                            </div>
                                                            @if (isAdmin || isProjectManager)
                                                            {
                                                                <div class="flex-shrink-0">
                                                                    <div class="d-flex align-items-center gap-1">
                                                                        <button type="button" class="btn btn-soft-danger btn-sm">Remove</button>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                        devFound = true;
                                                    }
                                                }
                                                @if (devFound == null)
                                                {
                                                    <p class="text-muted fs-11 mb-0 me-2">None Assigned</p>
                                                }
                                                <hr class="p-0 m-0 g-0" />
                                                <div class="g-0 m-0 p-0">
                                                    <h5 class="card-title fs-12 text-center mb-0 flex-grow-1">Submitters</h5>
                                                </div>
                                                <hr class="my-0" />
                                                @foreach (BTUser member in Model.Members)
                                                {
                                                    if (!await _RolesService.IsUserInRoleAsync(member, nameof(BTRoles.ProjectManager)) && (await _RolesService.IsUserInRoleAsync(member, nameof(BTRoles.Submitter))) == true)
                                                    {
                                                        <div class="d-flex align-items-center">
                                                            <div class="avatar-xs flex-shrink-0 me-3">
                                                                <img class="rounded-circle header-profile-user " src="@_FileService.ConvertByteArrayToFile(member.ImageFileData, member.ImageFileType, (int)DefaultImage.BTUserImage)" class="img-fluid rounded-circle">
                                                                <img class="" src="@_FileService.ConvertByteArrayToFile(member.ImageFileData, member.ImageFileType, (int)DefaultImage.BTUserImage)" class="img-fluid rounded-circle">
                                                            </div>
                                                            <div class="flex-grow-1">
                                                                <h5 class="fs-14 mb-0"><a href="#" class="text-body d-block">@member.FullName</a></h5>
                                                            </div>
                                                            @if (isAdmin || isProjectManager)
                                                            {
                                                                <div class="flex-shrink-0">
                                                                    <div class="d-flex align-items-center gap-1">
                                                                        <button type="button" class="btn btn-soft-danger btn-sm">Remove</button>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>

                                                        subFound = true;
                                                    }
                                                }
                                                @if (subFound == null)
                                                {
                                                    <p class="text-muted fs-11 mb-0 me-2">None Assigned</p>
                                                }

                                            }

                                            <!-- end member item -->

                                        </div>
                                        <!-- end list -->
                                    </div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->

                            @if (isAdmin || isProjectManager)
                            {
                                <div class="card">
                                    <div class="card-header align-items-center d-flex border-bottom-dashed">
                                        <h4 class="card-title mb-0 flex-grow-1">Actions</h4>

                                    </div>

                                    <div class="card-body">

                                        <div class="vstack gap-2">
                                            <a asp-action="Edit" asp-route-id="@Model.Id" class="text-body text-truncate d-block">
                                            <div class="border rounded border-dashed p-2">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0 me-3">
                                                        <div class="avatar-sm">
                                                            <div class="avatar-title bg-light text-secondary rounded fs-24">
                                                                <i class="ri-edit-2-line"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 overflow-hidden">
                                                        <h5 class="fs-15 mb-1">Edit</h5>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            </a>
                                            <a data-bs-toggle="modal" data-bs-target="#removeProjectModal" onclick="setProjectId(@Model.Id)" class="text-body text-truncate d-block" style="cursor: pointer;">
                                            <div class="border rounded border-dashed p-2">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0 me-3">
                                                        <div class="avatar-sm">
                                                            <div class="avatar-title bg-light text-danger rounded fs-24">
                                                                <i class="ri-archive-line"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 overflow-hidden">
                                                        <h5 class="fs-15 mb-1">
                                                            Archive
                                                        </h5>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            }
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end tab pane -->
               <!-- This is where tab panes went???-->
               <!--Tab panes and stuff-->

            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>
<!-- container-fluid -->
<!-- End Page-content -->
@Html.Partial("~/Views/Shared/_footer.cshtml")


<!-- END layout-wrapper -->
<!-- Modal -->
<div class="modal fade" id="inviteMembersModal" tabindex="-1" aria-labelledby="inviteMembersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
            <form>
            <div class="modal-header p-3 ps-4 bg-soft-success">
                <h5 class="modal-title" id="inviteMembersModalLabel">Members</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <div class="search-box mb-3">
                    <input type="text" class="form-control bg-light border-light" placeholder="Search here...">
                    <i class="ri-search-line search-icon"></i>
                </div>

                <div class="mb-4 d-flex align-items-center">
                    <div class="me-2">
                        <h5 class="mb-0 fs-13">Members :</h5>
                    </div>
                    <div class="avatar-group justify-content-center">
                        <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Brent Gonzalez">
                            <div class="avatar-xs">
                                <img src="~/assets/images/users/avatar-3.jpg" alt="" class="rounded-circle img-fluid">
                            </div>
                        </a>
                        <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Sylvia Wright">
                            <div class="avatar-xs">
                                <div class="avatar-title rounded-circle bg-secondary">
                                    S
                                </div>
                            </div>
                        </a>
                        <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Ellen Smith">
                            <div class="avatar-xs">
                                <img src="~/assets/images/users/avatar-4.jpg" alt="" class="rounded-circle img-fluid">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="mx-n4 px-4" data-simplebar style="max-height: 225px;">
                    <div class="vstack gap-3">


                       @foreach(BTUser user in ViewBag.MembersId)
                            {

                                if (!Model.Members.Any(m => m.Id == user.Id))
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-xs flex-shrink-0 me-3">
                                            <img src="~/assets/images/users/avatar-2.jpg" alt="" class="img-fluid rounded-circle">
                                        </div>
                                        <div class="flex-grow-1">
                                            <h5 class="fs-13 mb-0"><a href="#" class="text-body d-block">@user.FullName</a></h5>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <button type="button" class="btn btn-light btn-sm">Add</button>
                                        </div>
                                    </div>
                                    <!-- end member item -->
                                }
                            }

                    </div>
                    <!-- end list -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light w-xs" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success w-xs">Assign</button>
            </div>
            </form>
        </div>
        <!-- end modal-content -->
    </div>
    <!-- modal-dialog -->
</div>
<!-- end modal -->

<!--Archive Modal-->
<div id="removeProjectModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        id="close-modal"></button>
            </div>
            <div class="modal-body">
                <div class="mt-2 text-center">
                    <lord-icon src="https://cdn.lordicon.com/jtibbqrq.json" trigger="loop"
                               colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                        <h4>Are you Sure ?</h4>
                        <p class="text-muted mx-4 mb-0">Are you Sure You want to archive this Project ?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                    <button onclick="archiveProject()" type="button" class="btn w-sm btn-danger" id="remove-project">Yes, Archive It!</button>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
@Html.Partial("~/Views/Shared/_vendor_scripts.cshtml")
@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="~/assets/js/pages/project-overview.init.js"></script>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!--datatable js-->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>


    <script src="~/assets/js/pages/datatables.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
    <script>
        $(document).ready(function () {
            f
            $('#alternative-pagination').DataTable();
        });
    </script>

    <script>

        let selectedProjectId;
        function setProjectId(projectId) {
            selectedProjectId = projectId;
        }

        function archiveProject() {
            //String interpolation to create the url needed to handle this particular project
            let url = `/Projects/Archive/${selectedProjectId}`;

            //Sending an AJAX request to the server
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'RequestVerifactionToken': document.getElementsByName('__RequestVerificationToken')[0].value
                },
            })
                .then(response => {
                    if (response.ok) {
                        //Handling the success by  redirecting to the index.
                        window.location.href = '/Projects/Index'
                    }
                    else {
                        //Handling the error
                        console.error('Error when archiving project:', response.statusText);
                    }
                })
                .catch(error => {
                    //Handling network errors
                    console.error('Network error: ', error);
                });
        }
    </script>

        }




@*<h1>Details</h1>

        <div>
        <h4>Project</h4>
        <hr />
        <dl class="row">
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Archived)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Archived)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.FileData)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.FileData)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.FileType)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.FileType)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.ProjectPriority)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.ProjectPriority.Id)
        </dd>
        </dl>
        </div>
        <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
        </div>
        *@
