@model IEnumerable<Hoist.Models.Project>



<div class="content">
    <div class="intro-y d-flex flex-column flex-sm-row align-items-center mt-8">
        <h2 style="font-size: 4em;" class=" fw-medium me-auto">
            Projects
        </h2>
        <div class="w-full w-sm-auto d-flex mt-4 mt-sm-0">
            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#new-order-modal" class="btn btn-primary shadow-md me-2">New Order</a>
            <div class="pos-dropdown dropdown ms-auto ms-sm-0">
                <button class="dropdown-toggle btn px-2 box text-gray-700 dark-text-gray-300" aria-expanded="false" data-bs-toggle="dropdown">
                    <span class="w-5 h-5 d-flex align-items-center justify-content-center"> <i class="w-4 h-4" data-feather="chevron-down"></i> </span>
                </button>
                <div class="pos-dropdown__dropdown-menu dropdown-menu">
                    <ul class="dropdown-content">
                        <li>
                            <a href="" class="dropdown-item"> <i data-feather="activity" class="w-4 h-4 me-2"></i> <span class="truncate">INV-0206020 - Christian Bale</span> </a>
                        </li>
                        <li>
                            <a href="" class="dropdown-item"> <i data-feather="activity" class="w-4 h-4 me-2"></i> <span class="truncate">INV-0206022 - Al Pacino</span> </a>
                        </li>
                        <li>
                            <a href="" class="dropdown-item"> <i data-feather="activity" class="w-4 h-4 me-2"></i> <span class="truncate">INV-0206021 - Brad Pitt</span> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pos intro-y grid columns-12 gap-5 mt-5">
        <!-- BEGIN: Item List -->
        <div class="intro-y g-col-12 g-col-lg-8">
            <div class="d-lg-flex intro-y">
                <div class="position-relative text-gray-700 dark-text-gray-300">
                    <input type="text" class="form-control py-3 px-4 w-full w-lg-64 box border-white dark-border-dark-3 pe-10 placeholder-theme-8" placeholder="Search item...">
                    <i class="w-4 h-4 position-absolute my-auto top-0 bottom-0 me-3 end-0" data-feather="search"></i>
                </div>
                <select class="form-select py-3 px-4 box w-full dark-border-dark-3 w-lg-auto mt-3 mt-lg-0 ms-auto">
                    <option>Sort By</option>
                    <option>A to Z</option>
                    <option>Z to A</option>
                    <option>Lowest Price</option>
                    <option>Highest Price</option>
                </select>
            </div>
            @*<div class="grid grid-cols-12 gap-5 mt-5">
            <div class="g-col-12 g-col-sm-4 g-col-xxl-3 box p-5 cursor-pointer zoom-in">
            <div class="fw-medium fs-base">Soup</div>
            <div class="text-gray-600">5 Items</div>
            </div>
            <div class="g-col-12 g-col-sm-4 g-col-xxl-3 box bg-theme-17 dark-bg-theme-17 p-5 cursor-pointer zoom-in">
            <div class="fw-medium fs-base text-white">Pancake & Toast</div>
            <div class="text-theme-33 dark-text-gray-400">8 Items</div>
            </div>
            <div class="g-col-12 g-col-sm-4 g-col-xxl-3 box p-5 cursor-pointer zoom-in">
            <div class="fw-medium fs-base">Pasta</div>
            <div class="text-gray-600">4 Items</div>
            </div>
            <div class="g-col-12 g-col-sm-4 g-col-xxl-3 box p-5 cursor-pointer zoom-in">
            <div class="fw-medium fs-base">Waffle</div>
            <div class="text-gray-600">3 Items</div>
            </div>
            <div class="g-col-12 g-col-sm-4 g-col-xxl-3 box p-5 cursor-pointer zoom-in">
            <div class="fw-medium fs-base">Snacks</div>
            <div class="text-gray-600">8 Items</div>
            </div>
            <div class="g-col-12 g-col-sm-4 g-col-xxl-3 box p-5 cursor-pointer zoom-in">
            <div class="fw-medium fs-base">Deserts</div>
            <div class="text-gray-600">8 Items</div>
            </div>
            <div class="g-col-12 g-col-sm-4 g-col-xxl-3 box p-5 cursor-pointer zoom-in">
            <div class="fw-medium fs-base">Beverage</div>
            <div class="text-gray-600">9 Items</div>
            </div>
            </div>*@
            <div class="grid columns-12 gap-5 mt-5 pt-5 border-top border-theme-25 dark-border-dark-3">
                @foreach (Project project in Model)
                {
                    <a asp-action="Details" asp-route-id="@project.Id" class="intro-y d-block g-col-12 g-col-sm-4 g-col-xxl-3">
                        <div class="box rounded-2 p-3 position-relative zoom-in">
                            <div class="d-block fw-medium text-center truncate mt-3" style="font-size: 2em;">@project.Name</div>
                            <div class="flex-none pos-image position-relative d-block">
                                <div class="pos-image__preview image-fit">
                                    <img alt="Project Image" src="">
                                </div>
                            </div>


                        </div>
                        <div>
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="AssignProjectManager" asp-route-projectId="@project.Id">Edit</a>
                            }
                            <a asp-action="Edit" asp-route-id="@project.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@project.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@project.Id">Delete</a>
                        </div>
                    </a>

                }
            </div>
            <div class="mt-3 d-flex  justify-content-center">
                @*<div>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                </div>*@

@*                @Html.PagedListPager(Model, pageNum => Url.Action("Index", new {pageNum}),
                new PagedListRenderOptions
                {


                MaximumPageNumbersToDisplay = 3,
                DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                UlElementClasses = new string[1] { "pagination" },
                LiElementClasses = new string[] {"page-item"},
                PageClasses = new string[] {"page-link"},

                }
                )*@
            </div>

        </div>
        <!-- END: Item List -->
        <!-- BEGIN: Ticket -->
        <div class="g-col-12 g-col-lg-4">
            <div class="intro-y pe-1">
                <div class="box p-2">
                    <ul class="pos__tabs nav nav-pills rounded-2" role="tablist">
                        <li id="ticket-tab" class="nav-item flex-1" role="presentation">
                            <button class="nav-link w-full pt-2 pb-2.5 active" data-bs-toggle="pill" data-bs-target="#ticket" type="button" role="tab" aria-controls="ticket-tab" aria-selected="true">Tickets</button>
                        </li>
                        <li id="details-tab" class="nav-item flex-1" role="presentation">
                            <button class="nav-link w-full pt-2 pb-2.5" data-bs-toggle="pill" data-bs-target="#details" type="button" role="tab" aria-controls="details-tab" aria-selected="false">My Tickets</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content mt-5">
                <div class="tab-pane fade show active" id="ticket" role="tabpanel" aria-labelledby="ticket-tab">
                    <div class="box p-2 mt-5">

                        <a href="javascript:;" data-toggle="modal" data-target="#add-item-modal" class="ticket-item d-flex align-items-center p-3 cursor-pointer bg-white dark-bg-dark-3 bg-gray-200-hover dark-bg-dark-1-hover rounded-2">
                            <div class="ticket-item__item-name truncate me-1">Ticket Title</div>
                            <div class="text-gray-600">x 1</div>
                            <i data-feather="edit" class="w-4 h-4 text-gray-600 ms-2"></i>
                            <div class="ms-auto fw-medium">Ticket Status</div>
                        </a>


                    </div>
                    <div class="box d-flex p-5 mt-5">
                        <input type="text" class="form-control py-3 px-4 w-full bg-gray-200 border-gray-200 dark-bg-dark-2 dark-border-dark-2 pe-10 placeholder-theme-8" placeholder="Use coupon code...">
                        <button class="btn btn-primary ms-2">Apply</button>
                    </div>
                    <div class="box p-5 mt-5">
                        <div class="d-flex">
                            <div class="me-auto">Subtotal</div>
                            <div class="fw-medium">$250</div>
                        </div>
                        <div class="d-flex mt-4">
                            <div class="me-auto">Discount</div>
                            <div class="fw-medium text-theme-24">-$20</div>
                        </div>
                        <div class="d-flex mt-4">
                            <div class="me-auto">Tax</div>
                            <div class="fw-medium">15%</div>
                        </div>
                        <div class="d-flex mt-4 pt-4 border-top border-gray-200 dark-border-dark-5">
                            <div class="me-auto fw-medium fs-base">Total Charge</div>
                            <div class="fw-medium fs-base">$220</div>
                        </div>
                    </div>
                    <div class="d-flex mt-5">
                        <button class="btn w-32 border-gray-400 dark-border-dark-5 text-gray-600 dark-text-gray-300">Clear Items</button>
                        <button class="btn btn-primary w-32 shadow-md ms-auto">Charge</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
                    <div class="box p-5 mt-5">
                        <div class="d-flex align-items-center border-bottom border-gray-200 dark-border-dark-5 pb-5">
                            <div>
                                <div class="text-gray-600">Time</div>
                                <div class="mt-1">02/06/20 02:10 PM</div>
                            </div>
                            <i data-feather="clock" class="w-4 h-4 text-gray-600 ms-auto"></i>
                        </div>
                        <div class="d-flex align-items-center border-bottom border-gray-200 dark-border-dark-5 py-5">
                            <div>
                                <div class="text-gray-600">Customer</div>
                                <div class="mt-1">Leonardo DiCaprio</div>
                            </div>
                            <i data-feather="user" class="w-4 h-4 text-gray-600 ms-auto"></i>
                        </div>
                        <div class="d-flex align-items-center border-bottom border-gray-200 dark-border-dark-5 py-5">
                            <div>
                                <div class="text-gray-600">People</div>
                                <div class="mt-1">3</div>
                            </div>
                            <i data-feather="users" class="w-4 h-4 text-gray-600 ms-auto"></i>
                        </div>
                        <div class="d-flex align-items-center pt-5">
                            <div>
                                <div class="text-gray-600">Table</div>
                                <div class="mt-1">21</div>
                            </div>
                            <i data-feather="mic" class="w-4 h-4 text-gray-600 ms-auto"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Ticket -->
    </div>
    <!-- BEGIN: New Order Modal -->
    <div id="new-order-modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN: Modal Header -->
                <div class="modal-header">
                    <h2 class="fw-medium fs-base me-auto">
                        New Order
                    </h2>
                </div>
                <!-- END: Modal Header -->
                <!-- BEGIN: Modal Body -->
                <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                    <div class="g-col-12">
                        <label for="pos-form-1" class="form-label">Name</label>
                        <input id="pos-form-1" type="text" class="form-control flex-1" placeholder="Customer name">
                    </div>
                    <div class="g-col-12">
                        <label for="pos-form-2" class="form-label">Table</label>
                        <input id="pos-form-2" type="text" class="form-control flex-1" placeholder="Customer table">
                    </div>
                    <div class="g-col-12">
                        <label for="pos-form-3" class="form-label">Number of People</label>
                        <input id="pos-form-3" type="text" class="form-control flex-1" placeholder="People">
                    </div>
                </div>
                <!-- END: Modal Body -->
                <!-- BEGIN: Modal Footer -->
                <div class="modal-footer text-end">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-outline-secondary w-32 me-1">Cancel</button>
                    <button type="button" class="btn btn-primary w-32">Create Ticket</button>
                </div>
                <!-- END: Modal Footer -->
            </div>
        </div>
    </div>
    <!-- END: New Order Modal -->
    <!-- BEGIN: Add Item Modal -->
    <div id="add-item-modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- BEGIN: Modal Header -->
                <div class="modal-header">
                    <h2 class="fw-medium fs-base me-auto">
                        Fried Calamari
                    </h2>
                </div>
                <!-- END: Modal Header -->
                <!-- BEGIN: Modal Body -->
                <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                    <div class="g-col-12">
                        <label for="pos-form-4" class="form-label">Quantity</label>
                        <div class="d-flex mt-2 flex-1">
                            <button type="button" class="btn w-12 border-gray-300 bg-gray-200 dark-bg-dark-1 dark-border-dark-1 text-gray-600 dark-text-gray-300 me-1">-</button>
                            <input id="pos-form-4" type="text" class="form-control w-24 text-center" placeholder="Item quantity" value="2">
                            <button type="button" class="btn w-12 border-gray-300 bg-gray-200 dark-bg-dark-1 dark-border-dark-1 text-gray-600 dark-text-gray-300 ms-1">+</button>
                        </div>
                    </div>
                    <div class="g-col-12">
                        <label for="pos-form-5" class="form-label">Notes</label>
                        <textarea id="pos-form-5" class="form-control w-full mt-2" placeholder="Item notes"></textarea>
                    </div>
                </div>
                <!-- END: Modal Body -->
                <!-- BEGIN: Modal Footer -->
                <div class="modal-footer text-end">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-outline-secondary w-24 me-1">Cancel</button>
                    <button type="button" class="btn btn-primary w-24">Add Item</button>
                </div>
                <!-- END: Modal Footer -->
            </div>
        </div>
    </div>
    <!-- END: Add Item Modal -->
</div>